:root {
  font-family: 'Segoe UI', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  overflow-x: hidden; 
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f1f5f9;
}

button {
  font-family: inherit;
}